[submodule "EdgeDetect"]
	path = EdgeDetect
	url = ../EdgeDetect
[submodule "freecell"]
	path = freecell
	url = https://github.com/Mellen/freecell
[submodule "snake"]
	path = snake
	url = https://github.com/Mellen/snakeJS
[submodule "jsia"]
	path = jsia
	url = https://github.com/Mellen/jsia
[submodule "showyourworking"]
	path = showyourworking
	url = https://github.com/Mellen/showyourworking
