td.fnsel
{
    background-color:#ffa000;
}
td.snsel
{
    background-color:#a0bbff;
}
td.steppart
{
    background-color:#509050;
}
.shown
{
    visibility: visible;
}
.hidden
{
    visibility: hidden;
}

#partResult
{
    position:absolute;
    left:0px;
    top:0px;
}